# understand basic data types and data structures in R

## Everything in R is an object.

R has 6 basic data type.(In addition to the five listed below ,There is also raw which will not be discussed in this workshop.)
- character
- numeric(real or decimal)
- integer
- logical 
- complex

Element of these data types may be combined to form data structures,
such as atomic vector. When we call a vector atomic, We mean that 
the vector only holds data of a single data type. Below are examples of atomic character vectors,numeric vectors,integers,etc..

R provides many functions to examine of vectors and other objects,for example

- class() - What kind of objects is it(high-level)?
- typeof() - what is the object's data type(low-level)?
- length() - how long is it? What about two dimensional objects?
- attributes () - does it have any metadata?

In [1]:
x <- "dataset"
typeof(x)

[1] "character"

In [3]:
x <- 23
class(x)
typeof(x)
length(x)
attributes(x)

[1] "numeric"

[1] "double"

[1] 1

NULL

In [4]:
y <-1:10
y

 [1]  1  2  3  4  5  6  7  8  9 10

R has many data structures. These include

- list
- atomic 
- matrix
- dataframe
- factors